<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Entry Management</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	{% load static %}
	<link rel="stylesheet" href="{% static 'login3/css/bootstrap.min.css' %}" type="text/css" />

	<!-- Custom stlylesheet -->
	{% load static %}
	<link rel="stylesheet" href="{% static 'login3/css/style.css' %}" type="text/css" />



</head>

<script>
function showLoading() {
    document.getElementById('loadingmsg').style.display = 'block';
    document.getElementById('loadingover').style.display = 'block';
}
</script>



<body>

	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-push-5">
						<div class="booking-cta">
							<h1>Resume Parser</h1>
							<p> Enter your details by selecting appropriate option
							</p>
						</div>
					</div>
					<div class="col-md-4 col-md-pull-7">
					
						<div class="booking-form">
						
						
					
								
    
								<h2>	Resume Analysis: </h2>
								
							
							
								
								<h3>Files have been processed</h3>
								
								<h4><div id='loadingmsg'>Click here to download the file</div></h4>
							
								<div class="form-btn">
								
									<a href="out.csv" download="Details.csv"> 
                <button type="button">Download</button> 
            </a> 
								
								</div>
								</div>
								</div>
								</div>
								</div>
					
					
						</div>
					</div>
			</div>
			
			</div>
		</div>
	</div>
</body>

</html>